@page
@model KoiShowManagement.RazorWebApp.Pages.Registrations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].EntryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].CheckInStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].HealthStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Pattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pattern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.AnimalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.CompetitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RegistrationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RegistrationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RegistrationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
