@page
@model KoiShowManagement.RazorWebApp.Pages.Feedbacks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Details</h1>

<div class="bg-light p-3 rounded">
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.FeedbackDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.FeedbackDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Response)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Response)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.ResponseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.ResponseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.FeedbackType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.FeedbackType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.IsAnonymous)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.IsAnonymous)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.VisibilityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.VisibilityLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.SeverityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.SeverityLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.IsResponded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.IsResponded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Platform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.Competition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.Competition.CompetitionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback.User.Email)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Feedback.FeedbackId" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
